<html><head></head>
    <body bgcolor="#eee" style="margin:0; padding:0;">

        <table width='100%' cellspacing='0' bgcolor='#bdbdbd' cellpadding='0' border='0' style="font-family: SourceSansPro-Bold, arial;">
            <tr>
                <td align='center'>
                    <table width='600' cellpadding='0' bgcolor='white' cellspacing='0' border='1' bordercolor='#a1a1a1' style='border-collapse: collapse;'>

                        <tr>
                            <td align='center'>
                                <table width='600' cellpadding='0' bgcolor='white' cellspacing='0' border='0' style='border-collapse: collapse;'>
                                    <!--header line -->
                                    <tr>
                                        <td height='60'>
                                            <div style='margin: 0; padding: 0; line-height: 0;'>
                                                <img src='<bx_url_root />indent.gif'  border='0' width='1' height='1'
                                                     style='display: block;' alt='' />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='center'>
                                            <span style='text-align: center;'>
                                                <img src='<bx_url_root />templates/tmpl_hopelife/images/logo.png' alt='The News Hub' title='The News Hub'/>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height='50'>
                                            <div style='margin: 0; padding: 0; line-height: 0;'>
                                                <img src='<bx_url_root />indent.gif'  border='0' width='1' height='1'
                                                     style='display: block;' alt='' />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

