
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><table>
                                        <tr>
                                            <td colspan="3">

                                                <table width='500' cellpadding='0' cellspacing='20' border='0' style='border-collapse: collapse;'>
                                                    <tr>
                                                        <td>
                                                            <font color='#3c3c3c' size='2'>
                                                            <span>
                                                                If you have any questions or recommendations please email <a href='' style='color: #52b5b2'><span style='color: #52b5b2'>info@the-newshub.com</span></a>
                                                            </span>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <font color='#3c3c3c' size='2'>
                                                            <span>
                                                                Follow us on <a href='' style='color: #52b5b2'><span style='color: #52b5b2'>Twitter</span></a>, <a href='' style='color: #52b5b2'><span style='color: #52b5b2'>Facebook</span></a> & <a href='' style='color: #52b5b2'><span style='color: #52b5b2'>Google+</span></a>
                                                            </span>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <font color='#3c3c3c' size='2'>
                                                            <span>
                                                                This email was sent by The News Hub Limited, Palladium House, 1-4 Argyll Street, London, W1F7LD.    
                                                            </span>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <font color='#3c3c3c' size='2'>
                                                            Company number 08552566
                                                            </font>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--                                                    </font>    -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height='30'>
                                                <div style='margin: 0; padding: 0; line-height: 0;'>
                                                    <img src='<bx_url_root />indent.gif'  border='0' width='1' height='1'
                                                         style='display: block;' alt='' />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>

            <!--footer img end-->
        </td>
    </tr>
</table> 
</body></html>
